<!-- quick search -->
<form id="quick-search" class="quick-search">
  <fieldset>
    <legend>Quick Search:</legend>

    <input type="text" placeholder="Search by name" id="docname" name="docname" class="ui-autocomplete-input"
           autocomplete="off">

    <select>
      <option value="0">Speciality</option>
      <option value="1">Ophthomologist</option>
      <option value="2">Dermatologist</option>
      <option value="3">Neorologist</option>
      <option value="4">Surgeon</option>
    </select>

    <select>
      <option value="0">Locations</option>
      <option value="1">Primary Health Care</option>
      <option value="2">Gynaecological Clinic</option>
      <option value="3">Diagnosis With Precise</option>
      <option value="4">Cardiac Clinic</option>
      <option value="5">General Surgery</option>
    </select>

    <button type="submit">Search</button>
    <div class="switcher">
      <button id="quick-search-switcher" type="button">Find a doctor</button>
    </div>
  </fieldset>
</form>
<!--/ quick search -->

<!-- page title -->
<section class="page-title">
  <div class="grid-row clearfix">
    <h1>Contacts</h1>

    <nav class="bread-crumbs">
      <a href="index.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
      <a href="#">Contacts</a>
    </nav>
  </div>
</section>
<!--/ page title -->

<!-- page content -->
<main class="page-content">
  <div class="grid-row">
    <!-- map -->
    <section class="map">
      <div class="widget-title">Our Locations</div>
      <div id="map" class="google-map"></div>
    </section>
    <!--/ map -->
  </div>

  <div class="grid-row">
    <div class="grid-col grid-col-9">
      <!-- feedback -->
      <article class="feedback">
        <div class="widget-title">Get in touch by filling the form below</div>

        <p>Donec lacinia suscipit magna, et pulvinar tortor facilisis quis. Donec tempor erat vel scelerisque
          posuere. Nam elementum elit eget tellus faucibus euismod. Aliquam turpis nibh, dictum eu consequat
          ac, facilisis eu elit. Pellentesque
          pellentesque orci quam, nec tempus nibh congue ut. Pellentesque tempus vehicula lectus eget tempor.
          Donec suscipit enim dui, ut sagittis orci rhoncus id.</p>

        <form action="php/contact-send.php" id="contactform">
          <fieldset>
            <div class="clearfix">
              <div class="input">
                <label>Your name:</label>
                <input type="text" name="name">
              </div>
              <div class="input">
                <label>Your email:</label>
                <input type="text" name="email">
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <label>Category:</label>
                <input type="text" name="category">
              </div>
              <div class="input">
                <label>Subject:</label>
                <input type="text" name="subject">
              </div>
            </div>
            <label>Message:</label>
            <textarea rows="6" name="message"></textarea>
            <div class="clearfix captcha">
              <div class="captcha-wrapper">
                <iframe src="php/capcha.php" class="capcha-frame" name="capcha_image_frame"
                        marginwidth="0" marginheight="0" frameborder="0"></iframe>

                <input class="verify" type="text" id="verify" name="verify"/>
              </div>
              <button type="submit" class="button" value="Submit">Submit</button>

            </div>
          </fieldset>
        </form>
      </article>
      <!--/ feedback -->
    </div>

    <div class="grid-col grid-col-3">
      <!-- contacts -->
      <section class="widget widget-contacts">
        <div class="widget-title">Contact Details</div>
        <dl>
          <dt class="opened">Adolescent Gynecology</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
          <dt>Breast Cancer Gene (BRCA)</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
          <dt>Replacement Therapy</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
          <dt>Diagnosis With Precise</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
          <dt>STD Screening</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
          <dt>Occupational Health</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
          <dt>Rhinosinusitis</dt>
          <dd>
            <ul>
              <li><i class="fa fa-map-marker"></i>365 Montauk Avenue</li>
              <li><i class="fa fa-phone"></i>Call us: 203-284-2818</li>
              <li><i class="fa fa-envelope"></i>E-mail: EPSFacil@domain.com</li>
            </ul>
          </dd>
        </dl>
      </section>
      <!--/ contacts -->

      <!-- follow -->
      <section class="widget widget-follow">
        <ul>
          <li><a href="#"><i class="fa fa-rss"></i>150<br>Subscribers</a></li>
          <li><a href="#"><i class="fa fa-facebook"></i>5560<br>Fans</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i>2300<br>Followers</a></li>
        </ul>
      </section>
      <!--/ follow -->
    </div>
  </div>
</main>
<!--/ page content -->
