<!-- quick search -->
<form id="quick-search" class="quick-search">
  <fieldset>
    <legend>Quick Search:</legend>

    <input type="text" placeholder="Search by name" id="docname" name="docname" class="ui-autocomplete-input"
           autocomplete="off">

    <select>
      <option value="0">Speciality</option>
      <option value="1">Ophthomologist</option>
      <option value="2">Dermatologist</option>
      <option value="3">Neorologist</option>
      <option value="4">Surgeon</option>
    </select>

    <select>
      <option value="0">Locations</option>
      <option value="1">Primary Health Care</option>
      <option value="2">Gynaecological Clinic</option>
      <option value="3">Diagnosis With Precise</option>
      <option value="4">Cardiac Clinic</option>
      <option value="5">General Surgery</option>
    </select>

    <button type="submit">Search</button>
    <div class="switcher">
      <button id="quick-search-switcher" type="button">Find a doctor</button>
    </div>
  </fieldset>
</form>
<!--/ quick search -->

<!-- page title -->
<section class="page-title">
  <div class="grid-row clearfix">
    <h1>Photo Tour</h1>

    <nav class="bread-crumbs">
      <a href="#">Photo Tour</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
      <a href="#">Gallery</a>
    </nav>
  </div>
</section>
<!--/ page title -->

<!-- page content -->
<main class="page-content">
  <div class="grid-row">
    <!-- photo tour -->
    <section id="photo-tour" class="widget photo-tour photo-tour-3">
      <div class="widget-title">Pediatric clinic</div>

      <select class="filter">
        <option value=".item">Pediatric clinic</option>
        <option value=".item1">Commodo purus sit</option>
        <option value=".item2">Nullam euismod</option>
        <option value=".item3">Quisque venenatis</option>
      </select>

      <div class="grid">
        <div class="item item2">
          <div class="pic">
            <img src="assets/pic/photo-tour-1.jpg" width="370" height="195" alt="Nullam euismod commodo">
            <div class="links">
              <ul>
                <li>
                  <a href="#" class="fa fa-link"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Nullam euismod commodo</h3>
          <p>Pellentesque habitant morbi</p>
        </div>

        <div class="item item1">
          <div class="pic">
            <img src="assets/pic/photo-tour-2.jpg" width="370" height="195" alt="Commodo purus sit amet">
            <div class="links">
              <ul>
                <li>
                  <a href="#" class="fa fa-link"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Commodo purus sit amet</h3>
          <p>Pellentesque habitant morbi</p>
        </div>

        <div class="item item3">
          <div class="pic">
            <img src="assets/pic/photo-tour-3.jpg" width="370" height="195" alt="Quisque venenatis mi at">
            <div class="links">
              <ul>
                <li>
                  <a href="http://player.vimeo.com/video/44510157?color=ffffff"
                     data-fancybox-type="iframe" class="fa fa-video-camera fancybox"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Quisque venenatis mi at</h3>
          <p>Proin nec lectus lectus. Nunc odio</p>
        </div>

        <div class="item item1">
          <div class="pic">
            <img src="assets/pic/photo-tour-4.jpg" width="370" height="195" alt="Cras gravida tristique odio sit">
            <div class="links">
              <ul>
                <li>
                  <a href="assets/pic/photo-tour-4.jpg" class="fa fa-eye fancybox"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Cras gravida tristique odio sit</h3>
          <p>Cras gravida tristique odio sit</p>
        </div>

        <div class="item item3">
          <div class="pic">
            <img src="assets/pic/photo-tour-5.jpg" width="370" height="195" alt="Quisque venenatis mi at">
            <div class="links">
              <ul>
                <li>
                  <a href="http://player.vimeo.com/video/44510157?color=ffffff"
                     data-fancybox-type="iframe" class="fa fa-video-camera fancybox"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Quisque venenatis mi at</h3>
          <p>Proin nec lectus lectus. Nunc odio</p>
        </div>

        <div class="item item1">
          <div class="pic">
            <img src="assets/pic/photo-tour-6.jpg" width="370" height="195" alt="Cras gravida tristique odio sit">
            <div class="links">
              <ul>
                <li>
                  <a href="assets/pic/photo-tour-6.jpg" class="fa fa-eye fancybox"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Cras gravida tristique odio sit</h3>
          <p>Cras gravida tristique odio sit</p>
        </div>

        <div class="item item2">
          <div class="pic">
            <img src="assets/pic/photo-tour-7.jpg" width="370" height="195" alt="Nullam euismod commodo">
            <div class="links">
              <ul>
                <li>
                  <a href="#" class="fa fa-link"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Nullam euismod commodo</h3>
          <p>Pellentesque habitant morbi</p>
        </div>

        <div class="item item3">
          <div class="pic">
            <img src="assets/pic/photo-tour-8.jpg" width="370" height="195" alt="Quisque venenatis mi at">
            <div class="links">
              <ul>
                <li>
                  <a href="http://player.vimeo.com/video/44510157?color=ffffff"
                     data-fancybox-type="iframe" class="fa fa-video-camera fancybox"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Quisque venenatis mi at</h3>
          <p>Proin nec lectus lectus. Nunc odio</p>
        </div>

        <div class="item item1">
          <div class="pic">
            <img src="assets/pic/photo-tour-2.jpg" width="370" height="195" alt="Commodo purus sit amet">
            <div class="links">
              <ul>
                <li>
                  <a href="#" class="fa fa-link"></a>
                </li>
              </ul>
            </div>
          </div>
          <h3>Commodo purus sit amet</h3>
          <p>Pellentesque habitant morbi</p>
        </div>
      </div>
    </section>
    <!--/ photo tour -->
  </div>
</main>
<!--/ page content -->
